@startuml {{{filename}}}

hide footbox

skinparam sequence {
  ArrowColor DeepSkyBlue
  ActorBorderColor DeepSkyBlue

  LifeLineBorderColor #666666
  LifeLineBackgroundColor #666666

  ParticipantBorderColor #666666
  ParticipantBackgroundColor #EEEEEE
  ParticipantFontName Helvetica
  ParticipantFontSize 15
  ParticipantFontColor #333333

  ActorBackgroundColor #EEEEEE
  ActorFontColor #FF0000
  ActorFontSize 15
  ActorFontName Helvetica
}

{{{source}}}
@enduml
